    <div *ngFor="let panel of panelList; let i = index">
      <div id={{panel.id}} class="panel panel-default ui-widget-content" style="position: absolute">
          <div class="panel-heading">
              <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{panel.title}}</h4>
              <button [disabled]="this.tree._root.data === panel.id" class="btn btn-default btn-remove">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button class="btn btn-default btn-minimize">
                <i class="glyphicon glyphicon-minus"></i>
              </button>
          </div>
          <div class="panel-body center-panel"></div>
      </div>
    </div>
    <svg id ="workspace" width = "100%" height = "100%" class="svg-content-responsive"></svg>

