<div id={{this.id}} class="panel panel-default" style="position: absolute">
  <div class="panel-heading">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{this.title}}</h4>
    <button [disabled]="this._isRoot" class="btn btn-default btn-remove">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
    <button class="btn btn-default btn-minimize">
      <i class="glyphicon glyphicon-minus"></i>
    </button>
  </div>
  <div class="panel-body center-panel"></div>
</div>

